{% extends "MadefCmsBundle:Layout:admin.html.twig" %}
{% block title %}{% trans %}admin.page.home.step-final.title{% endtrans %}{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>{% trans %}admin.page.home.step-final.bigtitle{% endtrans %}</h1>
        <p>{% trans %}admin.page.home.step-final.welcome{% endtrans %}</p>
      </div>
{% endblock %}
