{% extends "MadefCmsBundle:Layout:admin.html.twig" %}
{% block title %}{% trans %}admin.layout.page.list.title{% endtrans %}{% endblock %}
{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans %}admin.layout.page.list.table.header.identifier{% endtrans %}</th>
                <th class="text-right">{% trans %}admin.layout.page.list.table.header.edit{% endtrans %}</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>{% trans %}admin.layout.page.list.table.header.identifier{% endtrans %}</th>
                <th class="text-right">{% trans %}admin.layout.page.list.table.header.edit{% endtrans %}</th>
            </tr>
        </tfoot>
        <tbody>
            {% for layout in layouts %}
                <tr>
                    <td>{{ layout.getIdentifier() }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {% trans %}admin.layout.page.list.table.action.edit{% endtrans %} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu text-left" role="menu">
                                {% for version in layout.getVersions() %}
                                    <li><a href="{{ url('madef_cms_admin_layout_edit', {identifier: layout.getIdentifier(), version: version.getId()}) }}">{{ version.getIdentifier() }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td class="text-center" colspan="2"><a href="{{ url('madef_cms_admin_layout_add') }}">{% trans %}admin.layout.page.list.table.action.add{% endtrans %}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
