{% extends "MadefCmsBundle:Layout:admin.html.twig" %}
{% block title %}{% trans %}admin.layout.page.list.title{% endtrans %}{% endblock %}
{% block content %}
    <ul>
    {% for layout in layouts %}
        <li>{{ layout.getIdentifier() }}
            <select onchange="if (this.value) { window.location.href = this.value }">
                <option value="">Edit</option>
                {% for version in layout.getVersions() %}
                    <option value="{{ url('madef_cms_admin_layout_edit', {identifier: layout.getIdentifier(), version: version.getId()}) }}">{{ version.getIdentifier() }}</option>
                {% endfor %}
            </select>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url('madef_cms_admin_layout_add') }}">Add</a>
{% endblock %}
