/nbproject
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/data/media/*
/app/data/db.sqlite
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/data/menu.yml
/build/
/vendor/
/bin/
/composer.phar
*.*~
init.sh
composer.lock
.gitignore
*.swp
